#test requirements
pytest
pytest-asyncio
pillow
httpx

#display requirementes
colorama

# API requirements
fastapi           # API framework
uvicorn             # web server
dill

#graphics
matplotlib

#model requirements
tensorflow
tensorflow-io
# keras
numpy
joblib
